{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <!-- <span class="subheading">{{params['tag_line']}}</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>
  {% with messages = get_flashed_messages(with_categories=true)%}
{% if messages %}
{% for category,messages in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{messages}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
  
  <!-- Main Content -->
  <div class="container">
    <div class="clearfix">
        <a class="btn btn-primary float-left" href="/add">Add Posts</a>
        <a class="btn btn-primary float-right" href="/logout">Log Out</a>
        <form action="/uploader" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" style="padding-left: 150px;">
        <button class="btn btn-primary" type="submit">Upload</button>
        </form>
      </div>
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <table class="table">
            <thead>
              <tr>
                <th>Sno</th>
                <th>Tittle</th>
                <th>Author</th>
                <th>Date</th>
                <th>Category</th>
                <th>View post</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for post in post %}
              <tr>
                <td>{{post.Sno}}</td>
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td>{{post.date}}</td>
                <td>{{post.category}}</td>
                <td><a href="/post/{{ post.slug }}" target="blank">Link to post</a></td>
                <td><a class="btn btn-primary float-left" href="/edit/{{post.Sno}}">Edit</a></td>
                <td><a class="btn btn-primary float-left" href="/delete/{{post.Sno}}">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <hr>
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>

  <hr>
  {% endblock %}

  